.ws-react-c-topology {
  min-height: 0;
  .project-toolbar .pf-c-dropdown > button {
    justify-content: space-between;
    width: 150px;
  }
  .topology-view-filter-dropdown > button {
    justify-content: space-between;
    width: 130px;
  }
  .pf-topology-side-bar {
    padding: 10px;
  }
}
