name: publish executables
on:
  push:
    branches: [master]
    tags: ["v*"]

jobs:
  setup:
    runs-on: ubuntu-latest

    steps:
      - name: checkout backend repository
        uses: actions/checkout@v2

      - uses: actions/setup-go@v2
        with:
          go-version: ^1.17

      - uses: actions/setup-node@v2
        with:
          node-version: "14"

      - name: setup web console repository
        run: ./scripts/setup_web_console.sh

      - name: cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: |
            **/node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}

      - name: build web console
        run: ./scripts/build_web_console.sh
        env:
          TX_TOKEN: ${{ secrets.TRANSIFEX_TOKEN_MC_V2 }}

      - name: Cache go modules
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: build bundles
        run: ./scripts/generate_executables.sh

      - name: create build timestamp and sha file
        run: |
          cd builds
          echo `date -u +'%Y%m%d%H%M%S'` > ./build_timestamp.txt  
          echo `date -u +'%Y-%m-%dT%H:%M:%S%:z'` >> ./build_timestamp.txt
          sha256sum *.tar.gz > ./SHA256SUMS.txt
          sha256sum *.zip >> ./SHA256SUMS.txt

      - name: Update release notes and executables
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/') # executes only for new release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        with:
          files: |
            builds/*.tar.gz
            builds/*.zip
            builds/build_timestamp.txt
            builds/SHA256SUMS.txt

      - name: Update executables for master branch changes
        if: startsWith(github.ref, 'refs/heads/master') # executes only for changes in master
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GH_TOKEN }}"
          automatic_release_tag: master
          prerelease: true
          title: "master branch build - Pre Release"
          files: |
            builds/*.tar.gz
            builds/*.zip
            builds/build_timestamp.txt
            builds/SHA256SUMS.txt
